//! **************************************************************************
// Written by: Map P.20131013 on Tue Dec 06 11:19:32 2016
//! **************************************************************************

SCHEMATIC START;
COMP "Ca" LOCATE = SITE "T17" LEVEL 1;
COMP "Cb" LOCATE = SITE "T18" LEVEL 1;
COMP "Cc" LOCATE = SITE "U17" LEVEL 1;
COMP "Cd" LOCATE = SITE "U18" LEVEL 1;
COMP "Ce" LOCATE = SITE "M14" LEVEL 1;
COMP "Cf" LOCATE = SITE "N14" LEVEL 1;
COMP "Cg" LOCATE = SITE "L14" LEVEL 1;
COMP "Dp" LOCATE = SITE "M13" LEVEL 1;
COMP "An0" LOCATE = SITE "N16" LEVEL 1;
COMP "An1" LOCATE = SITE "N15" LEVEL 1;
COMP "An2" LOCATE = SITE "P18" LEVEL 1;
COMP "An3" LOCATE = SITE "P17" LEVEL 1;
COMP "Ld0" LOCATE = SITE "U16" LEVEL 1;
COMP "Ld1" LOCATE = SITE "V16" LEVEL 1;
COMP "Ld2" LOCATE = SITE "U15" LEVEL 1;
COMP "Ld3" LOCATE = SITE "V15" LEVEL 1;
COMP "Ld4" LOCATE = SITE "M11" LEVEL 1;
COMP "Ld5" LOCATE = SITE "N11" LEVEL 1;
COMP "Ld6" LOCATE = SITE "R11" LEVEL 1;
COMP "Ld7" LOCATE = SITE "T11" LEVEL 1;
COMP "ClkPort" LOCATE = SITE "V10" LEVEL 1;
COMP "FlashCS" LOCATE = SITE "L17" LEVEL 1;
COMP "BtnC" LOCATE = SITE "B8" LEVEL 1;
COMP "BtnD" LOCATE = SITE "C9" LEVEL 1;
COMP "BtnL" LOCATE = SITE "C4" LEVEL 1;
COMP "BtnR" LOCATE = SITE "D9" LEVEL 1;
COMP "BtnU" LOCATE = SITE "A8" LEVEL 1;
COMP "MemOE" LOCATE = SITE "L18" LEVEL 1;
COMP "MemWR" LOCATE = SITE "M16" LEVEL 1;
COMP "RamCS" LOCATE = SITE "L15" LEVEL 1;
COMP "QuadSpiFlashCS" LOCATE = SITE "V3" LEVEL 1;
TIMEGRP sys_clk_pin = BEL "DIV_CLK_0" BEL "DIV_CLK_1" BEL "DIV_CLK_2" BEL
        "DIV_CLK_3" BEL "DIV_CLK_4" BEL "DIV_CLK_5" BEL "DIV_CLK_6" BEL
        "DIV_CLK_7" BEL "DIV_CLK_8" BEL "DIV_CLK_9" BEL "DIV_CLK_10" BEL
        "DIV_CLK_11" BEL "DIV_CLK_12" BEL "DIV_CLK_13" BEL "DIV_CLK_14" BEL
        "DIV_CLK_15" BEL "DIV_CLK_16" BEL "DIV_CLK_17" BEL "DIV_CLK_18" BEL
        "DIV_CLK_19" BEL "BUFGP1/BUFG" BEL "ee201_debouncer_4/state_FSM_FFd1"
        BEL "ee201_debouncer_4/state_FSM_FFd2" BEL
        "ee201_debouncer_4/state_FSM_FFd3" BEL
        "ee201_debouncer_4/state_FSM_FFd4" BEL
        "ee201_debouncer_4/state_FSM_FFd5" BEL
        "ee201_debouncer_4/state_FSM_FFd6" BEL
        "ee201_debouncer_4/MCEN_count_3" BEL "ee201_debouncer_4/MCEN_count_2"
        BEL "ee201_debouncer_4/MCEN_count_1" BEL
        "ee201_debouncer_4/MCEN_count_0" BEL
        "ee201_debouncer_4/debounce_count_27" BEL
        "ee201_debouncer_4/debounce_count_26" BEL
        "ee201_debouncer_4/debounce_count_25" BEL
        "ee201_debouncer_4/debounce_count_24" BEL
        "ee201_debouncer_4/debounce_count_23" BEL
        "ee201_debouncer_4/debounce_count_22" BEL
        "ee201_debouncer_4/debounce_count_21" BEL
        "ee201_debouncer_4/debounce_count_20" BEL
        "ee201_debouncer_4/debounce_count_19" BEL
        "ee201_debouncer_4/debounce_count_18" BEL
        "ee201_debouncer_4/debounce_count_17" BEL
        "ee201_debouncer_4/debounce_count_16" BEL
        "ee201_debouncer_4/debounce_count_15" BEL
        "ee201_debouncer_4/debounce_count_14" BEL
        "ee201_debouncer_4/debounce_count_13" BEL
        "ee201_debouncer_4/debounce_count_12" BEL
        "ee201_debouncer_4/debounce_count_11" BEL
        "ee201_debouncer_4/debounce_count_10" BEL
        "ee201_debouncer_4/debounce_count_9" BEL
        "ee201_debouncer_4/debounce_count_8" BEL
        "ee201_debouncer_4/debounce_count_7" BEL
        "ee201_debouncer_4/debounce_count_6" BEL
        "ee201_debouncer_4/debounce_count_5" BEL
        "ee201_debouncer_4/debounce_count_4" BEL
        "ee201_debouncer_4/debounce_count_3" BEL
        "ee201_debouncer_4/debounce_count_2" BEL
        "ee201_debouncer_4/debounce_count_1" BEL
        "ee201_debouncer_4/debounce_count_0" BEL
        "ee201_debouncer_1/state_FSM_FFd1" BEL
        "ee201_debouncer_1/state_FSM_FFd2" BEL
        "ee201_debouncer_1/state_FSM_FFd3" BEL
        "ee201_debouncer_1/state_FSM_FFd4" BEL
        "ee201_debouncer_1/state_FSM_FFd5" BEL
        "ee201_debouncer_1/state_FSM_FFd6" BEL
        "ee201_debouncer_1/MCEN_count_3" BEL "ee201_debouncer_1/MCEN_count_2"
        BEL "ee201_debouncer_1/MCEN_count_1" BEL
        "ee201_debouncer_1/MCEN_count_0" BEL
        "ee201_debouncer_1/debounce_count_27" BEL
        "ee201_debouncer_1/debounce_count_26" BEL
        "ee201_debouncer_1/debounce_count_25" BEL
        "ee201_debouncer_1/debounce_count_24" BEL
        "ee201_debouncer_1/debounce_count_23" BEL
        "ee201_debouncer_1/debounce_count_22" BEL
        "ee201_debouncer_1/debounce_count_21" BEL
        "ee201_debouncer_1/debounce_count_20" BEL
        "ee201_debouncer_1/debounce_count_19" BEL
        "ee201_debouncer_1/debounce_count_18" BEL
        "ee201_debouncer_1/debounce_count_17" BEL
        "ee201_debouncer_1/debounce_count_16" BEL
        "ee201_debouncer_1/debounce_count_15" BEL
        "ee201_debouncer_1/debounce_count_14" BEL
        "ee201_debouncer_1/debounce_count_13" BEL
        "ee201_debouncer_1/debounce_count_12" BEL
        "ee201_debouncer_1/debounce_count_11" BEL
        "ee201_debouncer_1/debounce_count_10" BEL
        "ee201_debouncer_1/debounce_count_9" BEL
        "ee201_debouncer_1/debounce_count_8" BEL
        "ee201_debouncer_1/debounce_count_7" BEL
        "ee201_debouncer_1/debounce_count_6" BEL
        "ee201_debouncer_1/debounce_count_5" BEL
        "ee201_debouncer_1/debounce_count_4" BEL
        "ee201_debouncer_1/debounce_count_3" BEL
        "ee201_debouncer_1/debounce_count_2" BEL
        "ee201_debouncer_1/debounce_count_1" BEL
        "ee201_debouncer_1/debounce_count_0" BEL
        "ee201_debouncer_3/state_FSM_FFd1" BEL
        "ee201_debouncer_3/state_FSM_FFd2" BEL
        "ee201_debouncer_3/state_FSM_FFd3" BEL
        "ee201_debouncer_3/state_FSM_FFd4" BEL
        "ee201_debouncer_3/state_FSM_FFd5" BEL
        "ee201_debouncer_3/state_FSM_FFd6" BEL
        "ee201_debouncer_3/MCEN_count_3" BEL "ee201_debouncer_3/MCEN_count_2"
        BEL "ee201_debouncer_3/MCEN_count_1" BEL
        "ee201_debouncer_3/MCEN_count_0" BEL
        "ee201_debouncer_3/debounce_count_27" BEL
        "ee201_debouncer_3/debounce_count_26" BEL
        "ee201_debouncer_3/debounce_count_25" BEL
        "ee201_debouncer_3/debounce_count_24" BEL
        "ee201_debouncer_3/debounce_count_23" BEL
        "ee201_debouncer_3/debounce_count_22" BEL
        "ee201_debouncer_3/debounce_count_21" BEL
        "ee201_debouncer_3/debounce_count_20" BEL
        "ee201_debouncer_3/debounce_count_19" BEL
        "ee201_debouncer_3/debounce_count_18" BEL
        "ee201_debouncer_3/debounce_count_17" BEL
        "ee201_debouncer_3/debounce_count_16" BEL
        "ee201_debouncer_3/debounce_count_15" BEL
        "ee201_debouncer_3/debounce_count_14" BEL
        "ee201_debouncer_3/debounce_count_13" BEL
        "ee201_debouncer_3/debounce_count_12" BEL
        "ee201_debouncer_3/debounce_count_11" BEL
        "ee201_debouncer_3/debounce_count_10" BEL
        "ee201_debouncer_3/debounce_count_9" BEL
        "ee201_debouncer_3/debounce_count_8" BEL
        "ee201_debouncer_3/debounce_count_7" BEL
        "ee201_debouncer_3/debounce_count_6" BEL
        "ee201_debouncer_3/debounce_count_5" BEL
        "ee201_debouncer_3/debounce_count_4" BEL
        "ee201_debouncer_3/debounce_count_3" BEL
        "ee201_debouncer_3/debounce_count_2" BEL
        "ee201_debouncer_3/debounce_count_1" BEL
        "ee201_debouncer_3/debounce_count_0" BEL
        "ee201_debouncer_2/state_FSM_FFd1" BEL
        "ee201_debouncer_2/state_FSM_FFd2" BEL
        "ee201_debouncer_2/state_FSM_FFd3" BEL
        "ee201_debouncer_2/state_FSM_FFd4" BEL
        "ee201_debouncer_2/state_FSM_FFd5" BEL
        "ee201_debouncer_2/state_FSM_FFd6" BEL
        "ee201_debouncer_2/MCEN_count_3" BEL "ee201_debouncer_2/MCEN_count_2"
        BEL "ee201_debouncer_2/MCEN_count_1" BEL
        "ee201_debouncer_2/MCEN_count_0" BEL
        "ee201_debouncer_2/debounce_count_27" BEL
        "ee201_debouncer_2/debounce_count_26" BEL
        "ee201_debouncer_2/debounce_count_25" BEL
        "ee201_debouncer_2/debounce_count_24" BEL
        "ee201_debouncer_2/debounce_count_23" BEL
        "ee201_debouncer_2/debounce_count_22" BEL
        "ee201_debouncer_2/debounce_count_21" BEL
        "ee201_debouncer_2/debounce_count_20" BEL
        "ee201_debouncer_2/debounce_count_19" BEL
        "ee201_debouncer_2/debounce_count_18" BEL
        "ee201_debouncer_2/debounce_count_17" BEL
        "ee201_debouncer_2/debounce_count_16" BEL
        "ee201_debouncer_2/debounce_count_15" BEL
        "ee201_debouncer_2/debounce_count_14" BEL
        "ee201_debouncer_2/debounce_count_13" BEL
        "ee201_debouncer_2/debounce_count_12" BEL
        "ee201_debouncer_2/debounce_count_11" BEL
        "ee201_debouncer_2/debounce_count_10" BEL
        "ee201_debouncer_2/debounce_count_9" BEL
        "ee201_debouncer_2/debounce_count_8" BEL
        "ee201_debouncer_2/debounce_count_7" BEL
        "ee201_debouncer_2/debounce_count_6" BEL
        "ee201_debouncer_2/debounce_count_5" BEL
        "ee201_debouncer_2/debounce_count_4" BEL
        "ee201_debouncer_2/debounce_count_3" BEL
        "ee201_debouncer_2/debounce_count_2" BEL
        "ee201_debouncer_2/debounce_count_1" BEL
        "ee201_debouncer_2/debounce_count_0" BEL
        "ee201_debouncer_0/state_FSM_FFd1" BEL
        "ee201_debouncer_0/state_FSM_FFd2" BEL
        "ee201_debouncer_0/state_FSM_FFd3" BEL
        "ee201_debouncer_0/state_FSM_FFd4" BEL
        "ee201_debouncer_0/state_FSM_FFd5" BEL
        "ee201_debouncer_0/state_FSM_FFd6" BEL
        "ee201_debouncer_0/MCEN_count_3" BEL "ee201_debouncer_0/MCEN_count_2"
        BEL "ee201_debouncer_0/MCEN_count_1" BEL
        "ee201_debouncer_0/MCEN_count_0" BEL
        "ee201_debouncer_0/debounce_count_27" BEL
        "ee201_debouncer_0/debounce_count_26" BEL
        "ee201_debouncer_0/debounce_count_25" BEL
        "ee201_debouncer_0/debounce_count_24" BEL
        "ee201_debouncer_0/debounce_count_23" BEL
        "ee201_debouncer_0/debounce_count_22" BEL
        "ee201_debouncer_0/debounce_count_21" BEL
        "ee201_debouncer_0/debounce_count_20" BEL
        "ee201_debouncer_0/debounce_count_19" BEL
        "ee201_debouncer_0/debounce_count_18" BEL
        "ee201_debouncer_0/debounce_count_17" BEL
        "ee201_debouncer_0/debounce_count_16" BEL
        "ee201_debouncer_0/debounce_count_15" BEL
        "ee201_debouncer_0/debounce_count_14" BEL
        "ee201_debouncer_0/debounce_count_13" BEL
        "ee201_debouncer_0/debounce_count_12" BEL
        "ee201_debouncer_0/debounce_count_11" BEL
        "ee201_debouncer_0/debounce_count_10" BEL
        "ee201_debouncer_0/debounce_count_9" BEL
        "ee201_debouncer_0/debounce_count_8" BEL
        "ee201_debouncer_0/debounce_count_7" BEL
        "ee201_debouncer_0/debounce_count_6" BEL
        "ee201_debouncer_0/debounce_count_5" BEL
        "ee201_debouncer_0/debounce_count_4" BEL
        "ee201_debouncer_0/debounce_count_3" BEL
        "ee201_debouncer_0/debounce_count_2" BEL
        "ee201_debouncer_0/debounce_count_1" BEL
        "ee201_debouncer_0/debounce_count_0" BEL "UUT/XLXI_541/state_FSM_FFd1"
        BEL "UUT/XLXI_541/state_FSM_FFd2" BEL "UUT/XLXI_541/state_FSM_FFd3"
        BEL "UUT/XLXI_541/state_FSM_FFd4" BEL "UUT/XLXI_541/state_FSM_FFd5"
        BEL "UUT/XLXI_541/state_FSM_FFd6" BEL "UUT/XLXI_541/state_FSM_FFd8"
        BEL "UUT/XLXI_541/state_FSM_FFd9" BEL "UUT/XLXI_541/state_FSM_FFd7"
        BEL "UUT/XLXI_541/state_FSM_FFd10" BEL "UUT/XLXI_541/state_FSM_FFd11"
        BEL "UUT/XLXI_541/corr" BEL "UUT/XLXI_541/g11" BEL "UUT/XLXI_541/g31"
        BEL "UUT/XLXI_541/g41" BEL "UUT/XLXI_541/g21" BEL "UUT/XLXI_496/Q0"
        BEL "UUT/XLXI_496/Q1" BEL "UUT/XLXI_585/J_high_7" BEL
        "UUT/XLXI_585/J_high_6" BEL "UUT/XLXI_585/J_high_5" BEL
        "UUT/XLXI_585/J_high_4" BEL "UUT/XLXI_585/J_high_3" BEL
        "UUT/XLXI_585/J_high_2" BEL "UUT/XLXI_585/J_high_1" BEL
        "UUT/XLXI_585/J_high_0" BEL "UUT/XLXI_5/Q_0" BEL "UUT/XLXI_5/Q_1" BEL
        "UUT/XLXI_5/Q_2" BEL "UUT/XLXI_5/Q_3" BEL "UUT/XLXI_5/Q_4" BEL
        "UUT/XLXI_5/Q_5" BEL "UUT/XLXI_5/Q_6" BEL "UUT/XLXI_5/Q_7" BEL
        "UUT/XLXI_4/Q_0" BEL "UUT/XLXI_4/Q_1" BEL "UUT/XLXI_4/Q_2" BEL
        "UUT/XLXI_4/Q_3" BEL "UUT/XLXI_4/Q_4" BEL "UUT/XLXI_4/Q_5" BEL
        "UUT/XLXI_4/Q_6" BEL "UUT/XLXI_4/Q_7" BEL "UUT/XLXI_561/Y_22" BEL
        "UUT/XLXI_561/Y_21" BEL "UUT/XLXI_561/Y_20" BEL "UUT/XLXI_561/Y_14"
        BEL "UUT/XLXI_561/Y_11" BEL "UUT/XLXI_561/Y_9" BEL "UUT/XLXI_561/Y_3"
        BEL "UUT/XLXI_538/Y_63" BEL "UUT/XLXI_538/Y_62" BEL
        "UUT/XLXI_538/Y_59" BEL "UUT/XLXI_538/Y_58" BEL "UUT/XLXI_538/Y_57"
        BEL "UUT/XLXI_538/Y_56" BEL "UUT/XLXI_538/Y_54" BEL
        "UUT/XLXI_538/Y_52" BEL "UUT/XLXI_538/Y_50" BEL "UUT/XLXI_538/Y_44"
        BEL "UUT/XLXI_538/Y_26" BEL "UUT/XLXI_538/Y_22" BEL
        "UUT/XLXI_538/Y_21" BEL "UUT/XLXI_538/Y_14" BEL "UUT/XLXI_570/out" BEL
        "UUT/XLXI_510/yellow" BEL "UUT/XLXI_573/flag1" BEL "UUT/XLXI_510/blue"
        BEL "UUT/XLXI_510/green" BEL "UUT/XLXI_510/red" BEL
        "UUT/XLXI_570/count_24" BEL "UUT/XLXI_570/count_23" BEL
        "UUT/XLXI_570/count_21" BEL "UUT/XLXI_570/count_20" BEL
        "UUT/XLXI_570/count_22" BEL "UUT/XLXI_570/count_19" BEL
        "UUT/XLXI_570/count_18" BEL "UUT/XLXI_570/count_16" BEL
        "UUT/XLXI_570/count_15" BEL "UUT/XLXI_570/count_17" BEL
        "UUT/XLXI_570/count_14" BEL "UUT/XLXI_570/count_13" BEL
        "UUT/XLXI_570/count_11" BEL "UUT/XLXI_570/count_10" BEL
        "UUT/XLXI_570/count_12" BEL "UUT/XLXI_570/count_9" BEL
        "UUT/XLXI_570/count_8" BEL "UUT/XLXI_570/count_6" BEL
        "UUT/XLXI_570/count_5" BEL "UUT/XLXI_570/count_7" BEL
        "UUT/XLXI_570/count_4" BEL "UUT/XLXI_570/count_3" BEL
        "UUT/XLXI_570/count_1" BEL "UUT/XLXI_570/count_0" BEL
        "UUT/XLXI_570/count_2";
TS_sys_clk_pin = PERIOD TIMEGRP "sys_clk_pin" 100 MHz HIGH 50%;
SCHEMATIC END;

